.container {
    text-align: center;
  
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    max-width:100%;
    text-align: center;
  }

.content {
    text-align: justify;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #14364adf;
  display: inline-block;
  margin: 1rem;
  border-radius: 20px;
  max-width: 850px;
}

.img {
  width: 250px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.list {
  list-style: disclosure-closed;
}

.content p {
  margin-bottom: 1rem;
}

.link {
  color: #4498C6;
}

.link:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
  font-size: 1.6rem;
}

.containerAllIcons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #0000008a;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 2px solid white;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.iconContainer p {
  margin: 0;
  font-size: 1rem;
}

.icon {
  font-size: 4rem;
  color: #fff;
}

@media screen and (max-width: 580px) {
  .floatRight,
  .floatLeft {
    float: none;
  }

  .containerImg {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .img {
    width: 150px;
  }

  .content {
    padding: 1rem;
    margin: 0.5rem;
  }

  .iconContainer {
    height: 80px;
  }

  .icon {
    font-size: 3rem;
  }

  .iconContainer p {
    font-size: 0.8rem;
  }
}
